@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}
.btn {
  color: #fff;
  background-color: gray;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 10px;
}
.money-img {
  width: 210px;
  margin-right: 10px;
}
.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.currency select {
  padding: 10px 20px 10px 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  background: transparent;
  appearance: none;
}
.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}
.swap-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate {
  font-size: 20px;
  padding: 0 20px;
}
select:focus,
input:focus,
button:focus {
  outline: none;
}
